body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}.header {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 100px; /* اندازه تصویر */
    height: auto;
    margin-left: 10px; /* فاصله بین متن و تصویر */
    border-radius: 10px; /* گرد کردن گوشه‌های تصویر */
}